.wrap {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 20px;
}

.formItem {
    min-width: 320px;
    border-radius: 12px;
    height: 48px;
    overflow: hidden;
}

.input {
    background: white;
    width: 100%;
    height: 100%;
    color: rgb(48, 43, 43);
    text-indent: 20px;
    font-size: 16px;
}

.button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgb(41, 41, 41);
    font-size: 16px;
    font-weight: 700;
    color: white;
}